/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	hid_keyboard: hid_keyboard {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "keyboard";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
	};

	hid_mouse: hid_mouse {
		compatible = "zephyr,hid-device";
		label = "HID1";
		protocol-code = "none";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
	};
};
